fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
supabase
python-jose[cryptography]
passlib[argon2]
pydantic[email]
fastapi-mail
httpx
requests
google-genai
pydantic-settings
python-multipart
alembic
slowapi
python-whois
builtwith